{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Acerca de nosotros</h1>
    <h2>Historia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Phasellus porta sem sem, non placerat lacus scelerisque eget. 
    Nam hendrerit elit et lectus euismod, non iaculis magna tempor. 
    Aenean consequat lacinia neque, vel faucibus justo. 
    Morbi et consectetur massa. Ut ornare nisi non lorem tempor, vitae finibus dui cursus. 
    Duis orci neque, cursus elementum consectetur eget, faucibus in ex. Sed eget dui ex. 
    Sed massa mi, consectetur sit amet aliquet vitae, blandit et odio. 
    Integer sapien sem, pulvinar vitae nisl et, pharetra scelerisque ante.
Donec eget dapibus dolor, egestas pulvinar enim. Praesent faucibus porttitor nisl, eget dignissim lectus pretium eu. 
Nam bibendum efficitur tellus, a fermentum dolor vestibulum a. 
Vestibulum ultrices bibendum quam tempus ultricies. 
Sed auctor erat sed egestas tristique. Nam felis purus, porttitor vitae dignissim sit amet, commodo at diam.
 Aliquam sit amet velit nisl.</p>
 <br>
 <h2>Mision</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Phasellus porta sem sem, non placerat lacus scelerisque eget. 
    Nam hendrerit elit et lectus euismod, non iaculis magna tempor. 
    Aenean consequat lacinia neque, vel faucibus justo. 
    Morbi et consectetur massa. Ut ornare nisi non lorem tempor, vitae finibus dui cursus. 
    Duis orci neque, cursus elementum consectetur eget, faucibus in ex. Sed eget dui ex. 
    Sed massa mi, consectetur sit amet aliquet vitae, blandit et odio. 
    Integer sapien sem, pulvinar vitae nisl et, pharetra scelerisque ante.
Donec eget dapibus dolor, egestas pulvinar enim. Praesent faucibus porttitor nisl, eget dignissim lectus pretium eu. 
Nam bibendum efficitur tellus, a fermentum dolor vestibulum a. 
Vestibulum ultrices bibendum quam tempus ultricies. 
Sed auctor erat sed egestas tristique. Nam felis purus, porttitor vitae dignissim sit amet, commodo at diam.
 Aliquam sit amet velit nisl.</p>
 <h2>Visión</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Phasellus porta sem sem, non placerat lacus scelerisque eget. 
    Nam hendrerit elit et lectus euismod, non iaculis magna tempor. 
    Aenean consequat lacinia neque, vel faucibus justo. 
    Morbi et consectetur massa. Ut ornare nisi non lorem tempor, vitae finibus dui cursus. 
    Duis orci neque, cursus elementum consectetur eget, faucibus in ex. Sed eget dui ex. 
    Sed massa mi, consectetur sit amet aliquet vitae, blandit et odio. 
    Integer sapien sem, pulvinar vitae nisl et, pharetra scelerisque ante.
Donec eget dapibus dolor, egestas pulvinar enim. Praesent faucibus porttitor nisl, eget dignissim lectus pretium eu. 
Nam bibendum efficitur tellus, a fermentum dolor vestibulum a. 
Vestibulum ultrices bibendum quam tempus ultricies. 
Sed auctor erat sed egestas tristique. Nam felis purus, porttitor vitae dignissim sit amet, commodo at diam.
 Aliquam sit amet velit nisl.</p>
</div>

{% endblock %}
